<!DOCTYPE html> @*Every HTML element is a rectangle! So grid based layout works well with html because a grid is a uninified and organized collection rectangles *@ 
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Clan Battle</title>
    @Styles.Render("~/Content/css") @*Bootstrap.css is included here in the ASP.NET bundling features - Normalizes CSS making elments render consistently across browsers *@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Clan Battle", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"> @*navbar-pills = round corner buttons*@
                    <li>@Html.ActionLink("Companies", "Index", "Clans")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container"> @*container is a bootstrap class*@

        @*<div class="row">
            <div class="col-md-4">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="col-md-8">
                 
            </div>
        </div>*@

        @RenderBody() @*Renders or draws body content to screen *@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap") @*Renders bootstrap script*@
    @RenderSection("scripts", required: false)
</body>
</html>
