@model Bootstrap.Models.Spartan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Spartan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gamertag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gamertag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
