@model Bootstrap.Models.MatchResultsModel

@{
    ViewBag.Title = "MatchResults";
}

<h2>MatchResults Page</h2>

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.MatchId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.GameVariant, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    @*foreach (var item in Model)
    {
        <div class="well">
            @item.MatchDate - Map ID: @item.Map - Game Mode: @item.GameMode - Game Variant: @item.GameVariant
        </div>
    }*@
}