@model Bootstrap.Models.ViewModel

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

@using (Html.BeginForm())
{
    <p>Clan Battle Results</p>

    <p>@ViewBag.GamertagLabel</p>

    <ul>
        @foreach (var item in ViewBag.ProgList)
        {
            <li>@item.MatchDate</li>
            <li>Map ID: @item.Map</li>
            <li>Game Mode: @item.GameMode</li>
            <li>Game Variant: @item.GameVariant</li>
        }
    </ul>
}


