@model Bootstrap.Models.ViewModel

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

@using (Html.BeginForm())
{
    <p>Clan Battle Results</p>

    <p>@ViewBag.GamertagLabel</p>

    <ul>
        @foreach (var item in ViewBag.ProgList)
        {            
               <li>
                   <div class="well">@item.MatchDate - Map ID: @item.Map - Game Mode: @item.GameMode - Game Variant: @item.GameVariant </div>
               </li>
        }
    </ul>
}


